:root {
    /*Codigo inicializador marca algo por defecto*/
    --oscuro: #212121;
    --primario: #83f0cc;
    /*FF1107*/
    --secundario: #1aaacc;
    --formcolor: #a8a5a5d7;
    --anchoPantalla: 1200px;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
    /*para utilizar REM como medida de la fuente*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
    margin: 0;
    /*Quito el margin de todos los H*/
}

h2,
h3 {
    text-align: center;
}

h3 {
    color: var(--secundario);
    font-weight: 500;
    font-size: 3rem;
}

p {
    font-size: 1.7rem;
    line-height: 2rem;
}


/*Se pone min-height en body y html para que se estire el degradado a toda la pagina
al igual que background-attachment: fixed*/

body {
    font-family: 'Raleway', sans-serif;
    /*Importamos la fuente del aip Fonts*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    min-height: 100%;
    font-size: 1.6rem;
}


/*Todo el header y su ancho en pantalla*/

.site-header {
    background-color: gainsboro;
}


/*Barra Navegador*/

.site-header nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    /*Por defecto es ROW, hace que se pongan uno debajo del otro
                        si utilizamos esto, vamos a necesitar la prop aling-items para alinear los objetos*/
    align-items: center;
}

@media (min-width: 768px) {
    /*display: flex se hereda del padre*/
    .site-header nav {
        flex-direction: row;
        justify-content: space-between;
        /*Distribuidos a lo largo del ancho de la pantalla*/
    }
}

.site-header nav a {
    text-decoration: none;
    color: var(--oscuro);
    /*aqui se utiliza el root*/
    font-size: 2.2rem;
    margin-bottom: 2rem;
    /*separar los enlaces entre ellos*/
}

.site-header nav a:last-of-type {
    /*Para quitar el margin del ultimo enlace*/
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .site-header nav a {
        margin-bottom: 0;
    }
}


/*---------------HERO--------------*/


/*Imagen principal --Padre de la clase hero:after-*/

.hero {
    height: 45rem;
    background-image: url(../img/hero.jpg);
    position: relative;
    display: flex;
    /*por defecto tiene el flex-direction: row;*/
    justify-content: center;
    /*centra el contenido de clase Hija*/
    align-items: center;
}

.hero::after {
    /*Simpre que se usa "after" se pone "content"... en este caso va vacio 
    xq usa un color de fondo*/
    content: '';
    background-color: rgba(0, 0, 0, .7);
    /*Se usa "rgba" para colores transparentes*/
    position: absolute;
    /*si tiene "absolute" el padre tiene que tener "relative"*/
    top: 0;
    bottom: 0;
    left: 0;
    /*Para que ocupe todo el espacio del contenedor Padre*/
    right: 0;
}

.contenedor-hero {
    color: white;
    text-align: center;
    /*Al tener un color oscuro en el background el texto en este caso 
    queda por "debajo" por lo que es necesario hacer lo siguiente para 
    dejarlo por encima*/
    position: relative;
    z-index: 1;
    /*Cualquier n° mayor a 0*/
}


/*icono ubicacion*/

.contenedor-hero i {
    color: var(--primario);
    font-size: 5rem;
}


/*----Boton----*/

.boton {
    background-color: var(--secundario);
    text-decoration: none;
    padding: 1rem 5rem;
    /*es necesario primero definir inline-block*/
    display: inline-block;
    margin-top: 4rem;
    color: white;
    text-transform: capitalize;
    font-weight: 550;
    font-size: 2rem;
    border-radius: 0.7rem;
    border: none;
    transition: background-color .2s ease-in-out;
}

.boton:hover {
    background-color: #0099cc;
    cursor: pointer;
}


/*-------SERVICIOS Y FORMULARIO------*/

.contenedor {
    max-width: var(--anchoPantalla);
    margin: 3rem auto;
    /*margin para centrar contenido*/
    background-color: gainsboro;
    padding: 3rem;
    border-radius: 1rem;
    /*Borde sombreado*/
    -webkit-box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 13px -8px rgba(0, 0, 0, 0.75);
}


/*CLASE PADRE de Seccion Servicios*/

.contenedor-servicios {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .contenedor-servicios {
        display: flex;
        justify-content: space-between;
    }
    .servicio {
        flex: 0 0 calc(33.33% - 1rem);
        /*flex funciona de la misma manera que un margin: 0 auto
        el primer valor si pusiera un 1 me ocupa cada elemento la totalidad de su porcion*/
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos {
    width: 10rem;
    /*Tamaño del circulo*/
    height: 10rem;
    border-radius: 50%;
    background-color: var(--primario);
    display: flex;
    /*Para que deje una separacion entre iconos*/
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    /*Se podria usar esto para centrar circulo en el medio 
    margin: 0 auto; */
    font-size: 3rem;
}


/*FORMULARIO*/

form {
    background-color: var(--formcolor);
    padding: 2rem;
    border-radius: 1rem;
    margin: 3rem;
}

form legend {
    color: var(--primario);
    font-size: 2.5rem;
    margin: 3rem 0;
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    form {
        max-width: 800px;
        margin: 3rem auto;
    }
    .contenedor-campos {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /*wrap se usa cuando sobrepasan el tamaño del contenedor
        con esto "chocan" con el limite y pasan a estar por debajo*/
    }
    .campo {
        flex: 0 0 calc(50% - 1rem);
    }
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.campo label {
    flex: 0 0 90px;
    padding: 0.5rem;
}

.campo input {
    flex: 1;
    /*Se pone 1 para que ocupe todo el espacio de su contenedor, 
    en este caso el que reste luego de consumir 90px*/
    height: 4rem;
}

.campo textarea {
    flex: 1;
    height: 6rem;
}

.w-100 {
    flex: 0 0 100%;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}