:root{/*Codigo inicializador marca algo por defecto*/
 --oscuro: #212121;
}

html {
    box-sizing: border-box;
    min-height: 100%; 
    font-size: 62.5%; /*para utilizar REM como medida de la fuente*/
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
/*Se pone min-height en body y html para que se estire el degradado a toda la pagina
al igual que background-attachment: fixed*/
body{
    font-family: 'Raleway', sans-serif ;/*Importamos la fuente del aip Fonts*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    min-height: 100%;
    font-size: 1.6rem;
}

/*Todo el header y su ancho en pantalla*/
.site-header{
background-color: gainsboro;
}


/*Barra Navegador*/
.site-header nav{
max-width: 1200px;
margin: 0 auto;
padding: 2rem 0;

display: flex;

flex-direction: column;/*Por defecto es ROW, hace que se pongan uno debajo del otro
                        si utilizamos esto, vamos a necesitar la prop aling-items para alinear los objetos*/
align-items: center;


}

@media (min-width: 768px ){
    /*display: flex se hereda del padre*/
    .site-header nav{
    flex-direction: row;
    justify-content: space-between; /*Distribuidos a lo largo del ancho de la pantalla*/
    }
}

.site-header nav a{
    text-decoration: none;
    color: var(--oscuro); /*aqui se utiliza el root*/
    font-size: 2.2rem;
    margin-bottom: 2rem; /*separar los enlaces entre ellos*/
    
}

.site-header nav a:last-of-type{/*Para quitar el margin del ultimo enlace*/
    margin-bottom: 0;
}

@media (min-width: 768px){
    .site-header nav a{
    margin-bottom: 0;
    }
}